.container{
    margin: 10px;
    border: 10px solid black;
    border-radius: 40px;
}

header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px;
    border-radius: 40px;
    border: 5px solid deepskyblue;
}

.logo img{
    height: 50px;
}

.logo img:hover{
    scale: 1.4;
    transition: 1s;
}

.nav{
    background-color: deepskyblue;
    padding: 20px;
    border-radius: 30px;
}

.nav:hover{
    scale: 1.07;
    transition: 1s;
}

.nav a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

.nav a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding:30px;
}

.post{
    background-color: deepskyblue;
    border-radius: 10%;
    margin: 40px auto;
    padding: 20px;
    max-width: 1000px;
}

.post:hover{
    transition-duration: 0.5s;
    scale: 1.1;
}

.post p{
    background-color: dodgerblue;
    padding: 20px;
}

.post h2{
    margin: 30px;
    color: white;
}

.post-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.post-image{
    height: 120px;
    display: flex;
    border-radius: 10px;
    padding: 0px 0px 20px;
}

.post p{
    color: white;
}

@media (max-width: 800px) {

    header {
        flex-direction: column;
    }

    .post {
        flex-direction: column;
        align-items: stretch;
    }

    .post {
        flex-wrap: wrap;
    }

    .post:hover {
        scale: 1.05;
    }

}